@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.studentList {
  grid-area: Main;
  display: grid;
  height: 90vh;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: "head" "list";
  padding-left: 40px;
  font-family: "Nunito Sans";
}
.studentList__header {
  grid-area: head;
  margin-top: 20px;
}
.studentList__header h2 {
  margin-bottom: 5px;
  font-size: 25px;
}
.studentList__list {
  grid-area: list;
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  padding-right: 40px;
}

span {
  color: #84AC90;
}

.student {
  border: 2px solid #84AC90;
  padding: 20px 20px;
  box-sizing: content-box;
  display: grid;
  max-height: fit-content;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "image info track" "show show show";
}
.student__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
}
.student img {
  grid-area: image;
  width: 110px;
  margin-right: 20px;
}
.student__extra {
  grid-area: show;
  padding: 25px 0px 20px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "CW SC CERT" "notes notes notes";
}
.student__codeWars, .student__scores, .student__certifications {
  display: grid;
  grid-auto-flow: row;
  gap: 25px;
  padding: 5px;
}
.student__codeWars h4, .student__scores h4, .student__certifications h4 {
  font-size: 20px;
}
.student__codeWars span, .student__scores span, .student__certifications span {
  font-size: 20px;
}
.student__notes {
  border-top: 2px solid #84AC90;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: notes;
  margin-top: 20px;
  padding: 10px;
}
.student__notes h5 {
  font-size: 16px;
  font-weight: bolder;
}
.student__notes ul {
  margin-left: 30px;
  line-height: 25px;
}
.student__notes input {
  margin-left: 10px;
}
.student__notes button {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  background: #72A180;
  color: #fff;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  font-weight: 800;
}
.student__notes button:hover {
  transform: scale(1.1);
}
.student__notes .delete {
  color: #D62E2E;
  margin-left: 10px;
  font-weight: 900;
  font-size: 10px;
}
.student__notes .delete:hover {
  font-size: 13px;
  cursor: pointer;
}
.student__comments {
  border: 1px solid;
  padding: 20px;
  line-height: 30px;
}
.student__on {
  color: #84AC90;
  font-weight: 700;
}
.student__off {
  color: #ff3737;
  font-weight: 700;
}

.show {
  position: absolute;
  left: 193px;
  top: -10px;
  cursor: pointer;
}
.show:hover {
  text-decoration: underline #84AC90;
  transform: scale(1.1);
}

.sort {
  position: relative;
  left: 20%;
  bottom: 20px;
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  width: max-content;
  border: 1px solid;
  background: #fff;
  border-radius: 5px;
}
.sort__options {
  margin-top: 5px;
  cursor: pointer;
}
.sort__options:hover {
  transform: scale(1.01);
  text-decoration: underline;
  color: #72A180;
}
.sort__text {
  position: relative;
  left: 20%;
  bottom: 20px;
  cursor: pointer;
  width: fit-content;
}
.sort__text:hover {
  transform: scale(1.01);
}
.sort__arrow {
  color: #000;
  margin-left: 10px;
  position: relative;
  bottom: 3px;
  right: 10px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
