@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,800,800italic,900,900italic);

$primary-color: #1FD19F;
$border-color: #DCDCDC;

.studentList {
    grid-area: studentList;
    display: grid;
    height: 86.5vh;
    width: 92%;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
    "head"
    "list";
    padding-left: 30px;
    font-family: "Alegreya Sans SC";
    padding-bottom: 0px;

    &__header {
        grid-area: head;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        justify-content: space-between;
        padding-left: 40px;
        font-size: 20px;
        
        
    }

    &__list {
        border-radius: 10px;
        grid-area: list;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: auto;
        gap: 10px;
        padding: 20px 20px 20px 35px;
        // padding-right: 40px;
        justify-content: center;
        align-items: center;
    }

    &__amount {
        border: 1px solid $border-color;
        padding: 0px 3px;
        font-weight: 0;
    }

    &__cohort {
        font-weight: 600;
        margin-right: 10px;
    }

    &__info {
        display: flex;
    }

    &__sort {
        border: 1px solid $border-color;
        border-radius: 20px;
        padding: 10px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        color: #161616;
    }
}

span {
    color: $primary-color;
}

.student {  
    // border: 5px solid $primary-color;
    background: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    height: 15em;
    width: 19em;
    padding-bottom: 50px;
    box-sizing: content-box;
    display: grid;
    grid-auto-flow: row;
    

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding-top: 25px;

        p {
            color: #A8A8A8;
            font-size: 18px;
        }
    }

    img {
        // grid-area: image;
        width: 110px;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
    }

    &__extra {
        position: relative;
        padding: 25px 0px 20px;
        text-align: center;
        font-size: 25px;

        span {
            border: 1px solid;
            border-radius: 10px;
            background: $primary-color;
            color: #fff;
            padding: 10px 20px;
            font-size: 18px;
        }
    }

    &__notes-icon {
        color: $primary-color;
        position: relative;
        bottom: 920px;
        font-size: 20px;
        cursor: pointer;
        opacity: 60%;

        &:hover {
            opacity: 100%;
        }
    }

    &__notes {
        border: 2px solid;
        background: #fff;
        height: 600px;
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10px 1fr;
        grid-template-areas: 
        "close close"
        "input comments";
        gap: 20px;
        padding: 10px;
        position: relative;
        
        h5 {
            width: 100%;
            // align-self: end;
            justify-self: end;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
        h4 {
            font-size: 20px;
            font-weight: bolder;
            position: relative;
            margin-bottom: 20px;
        }

        ul {
            margin-left: 30px;
            line-height: 25px;
            position: relative;
            font-size: 20px;
        }

        li {
            font-size: 20px;
            align-self: start;
        }

        input {
            margin-left: 10px;
            width: 100%;
            text-wrap: wrap;
            border: 0;
            border-bottom: 2px solid;
            font-size: 20px;
            border-color: $primary-color;
        }

        button {
            cursor: pointer;
            padding: 5px;
            width: 100px;
            background: $primary-color;
            color: #fff;
            border: 0;
            border-radius: 5px;
            font-weight: 800;
            justify-self: center;
            align-self: center;
            opacity: 80%;

            &:hover {
                opacity: 100%;
            }
        }

        .delete {
            color: #D62E2E;
            margin-left: 10px;
            font-weight: 900;
            font-size: 15px;
            opacity: 80%;

            &:hover {
                cursor: pointer;
                opacity: 100%;
            }
        }
    }

    &__notes-info {
        grid-area: input;
        padding: 20px;
        line-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        // align-items: center;
    }

    &__comments {
        min-height: 95%;
        border-left: 2px solid;
        grid-area: comments;
        max-height: 100px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 20px;

        &-header {
            padding-bottom: 30px;
            position: static;
        }
    }

    &__on {
        color: $primary-color;
    }

    &__off{
        color: #ff3737;
    }
}

.show {
    cursor: pointer;
}

.menu {
    border: 5px solid;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 1;
    height: 50%;
    width: 70%;
    display: grid;
    // flex-direction: column;
    grid-template-rows: 1fr 10fr;
    // grid-template-areas: 
    // "info"
    // "data";

    
    &__main {
        display: flex;
    }

    &__info {
        // grid-area: info;
        // border: 2px solid;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        img {
            width: 110px;
            margin-right: 10px;
            border-radius: 50%;
        }

        p {
            color: #A8A8A8;
        }
    }

    &__studentInfo {
        height: 100%;
        display: grid;
        justify-content: center;
        line-height: 25px;
    }

    &__data {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0px 20px;
        
    }

    &__codeWars, &__scores, &__certifications{
        display: grid;
        grid-template-rows: 40px 1fr;
        height: 200px;
        box-sizing: border-box;
        background: $primary-color;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #818181;

        h4 {
            align-self: center;
            justify-self: start;
            font-size: 20px;
            color: #fff;
            margin-left: 20px;
        }

        // span {
        //     font-size: 20px;
        // }
    }

    &__details {
        padding-top: 20px;
        background: #fff;
        width: 93.6%;
        height: 90%;
        display: grid;
        padding-left: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        span {
            font-size: 20px;
            color: #000;
        }
     }

    &__close {
        font-size: 13px;
        
        &:hover {
            cursor: pointer;
            color: $primary-color;
        }
    }
}

.backgroundVisibility {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #000000c6;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}