header {
    grid-area: NavBar;
    border: 2px solid;
    background: #5D936E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;

    h2 {
        margin-bottom: 20px;
    }
}