*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F8F8F8;
} 

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 250px 5fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "Section NavBar"
    "Section studentList"
}
